extends ../../layout		

block scripts
	script(type='text/javascript')
		function loginToAccount() {
			var server_name = "#{server}";
			var tempPassword = $('#vci-login-content-password-tb').attr("value");
			var tempUsername = $('#vci-login-content-username-tb').attr("value");
			if (tempUsername && tempUsername != null && tempUsername != "") {
				$.ajax({
					type: "POST",
					url: server_name + 'user/login',
					data: { 'user': { 'email': tempUsername, 'password': tempPassword } },
					success: function(data, textStatus, jqXHR) {
						document.location.href = data;
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("#{__("Problems with logging in to your VCI-Account!")}");
					},
					timeout: 5000
				});
			}
		}

block content
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			h1 Visual Collaboration Interface
			a(data-role="button",id="vci-login-header-register-btn",href="/user/register",ref="external",data-ajax="false",class="ui-btn-right") #{__("Register")}
		div(id="vci-login-content",data-role="content")
			h1 #{__("Login")}
			div(data-role="fieldcontain",style='margin:20px 0px 0px 0px')
				label(for="basic",class="ui-input-text") #{__("Username")}
				input.text-input(value='',name='user[email]',type='text',id="vci-login-content-username-tb")
			div(data-role="fieldcontain",style='margin:10px 0px 0px 0px')
				label(for="basic",class="ui-input-text") #{__("Password")}
				input.text-input(name='user[password]',type='password',id="vci-login-content-password-tb")
			input(type="button",value='#{__("login")}',style='padding:10px 0px 0px 0px',onclick="loginToAccount()")