head
	title VCI
	link(rel="stylesheet", href="/stylesheets/style.css")
	link(rel="stylesheet", href="/libs/jquery.mobile-1.2.0.css")
	script(src='/libs/jquery-1.8.2.js')
	script(src='/libs/jquery.mobile-1.2.0.js')
	block scripts