extends ../../layout

block scripts
	script(type='text/javascript')
		function registerToServer() {
			var server_name = "#{server}";
			var tempPassword = $('#vci-register-content-password-tb').attr("value");
			var tempUsername = $('#vci-register-content-username-tb').attr("value");
			if (tempUsername && tempUsername != null && tempUsername != "") {
				$.ajax({
					type: "POST",
					url: server_name + 'user/register',
					data: { 'user': { 'email': tempUsername, 'password': tempPassword } },
					success: function(data, textStatus, jqXHR) {
						document.location.href = data;
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Problems with registering to the VCI-Server!");
					},
					timeout: 5000
				});
			}
		}

block content
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			a(data-role="button",id="vci-register-header-login-btn",href="/user/login",ref="external",data-ajax="false",class="ui-btn-left") #{__("Login")}
			h1 #{__("Registration")}
		div(id="vci-register-content",data-role="content")
			h1 Registration
			div(data-role="fieldcontain",style='margin:20px 0px 0px 0px')
				label(for="basic",class="ui-input-text") #{__("Username")}
				input.text-input(value='',name='user[email]',type='text',id="vci-register-content-username-tb")
			div(data-role="fieldcontain",style='margin:10px 0px 0px 0px')
				label(for="basic",class="ui-input-text") #{__("Password")}
				input.text-input(name='user[password]',type='password',id="vci-register-content-password-tb")
			input(type="button",value='#{__("register")}',style='padding:10px 0px 0px 0px',onclick="registerToServer()")