body {
  padding: 50px 50px;
  font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

#radial_container { 
	position:relative; 
	left:425px; 
	top: 75px; 
	width:100px; 
	height:100px; 
	text-align:center;
}
.radial_div_item {
	background-color:none;
	height:30px;
	padding:10px;
	color:#234;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
}
.radial_div_item.active { 
	background-color:#511; color:white;
	padding: 10px; 
	-moz-border-radius:40px;
	z-index:100;
}
.my_class { 
	font-size:1.5em; 
	color:#abc;
	background-color:#def;
	-moz-border-radius:30px;
	width:30px;
	height:30px;
	-webkit-border-radius:30px;
}

.vci-register-credential-label {
	margin:5px 20px 5px 5px;
}

.vci-register-input {
	width:100%;
}

.vci-workspace-header-btn {
	margin-right: 5px;
	margin-left: 5px;
}

#vci-content-drawingtools-choise-list {
	text-align:center;
}

#vci-content-drawingtools {
	display:inline-block;
	height:100%;
	width:100%;
}

#vci-content-objectselection {
	display:none;
	height:100%;
	width:100%;
}

#vci-content-layermanagement {
	display:none;
	height:100%;
}

#vci-content-chat {
	display:none;
}

#vci-register-create-btn {
	width:100%;
}

#vci-register-notification {
	display:none;
}

#vci-content-drawingtools-properties-color-colorpicker-container {
	display:none;
}

#vci-content-drawingtools-properties-color-fillcolor-container {
	display:none;
}

#vci-content-drawingtools-properties-color-strokecolor-container {
	display:none;
}

#vci-content-drawingtools-properties-color-transparency-container {
	display:none;
}

#vci-content-drawingtools-properties-proportions {
	display:none;
}

#vci-content-drawingtools-properties-text {
	display:none;
}

#vci-chat-container {
	overflow:auto;
	resize:both;
	height:100%;
	max-height:600px;
}

#vci-chat-text {
	width:100%;
	height:60%;
	resize:none;
	overflow:auto;
	margin:0px;
	padding:0px;
}

#vci-chat-send-text {
	width:95%;
	height:20%;
	resize:none;
	margin:0px;
	padding:0px;
}

#vci-chat-send-btn {
	width:95%;
	height:20%;
	margin:0px;
	padding:0px;
}

#vci-content-stage {
	display:inline-block;
	margin:0px;
	padding:0px;
	overflow:scroll;
}

#vci-content-menu {
	margin:0px;
	padding:0px;
	display:none;
	float:right;
}

#vci-content-drawingtools-properties-color-colorpicker {
	padding:10px 0px 10px 1px;
	float:left;
}

#vci-content-drawingtools-properties-color {
	padding:10px 0px 0px 0px;
}

#vci-content-drawingtools-properties-proportions {
	padding:10px 0px 0px 0px;
}

#vci-content-drawingtools-properties-text {
	padding:10px 0px 0px 0px;
}

#vci-content-layermanagement {
	width:100%;
}

#vci-manager-menu-body-secondary-vciproperties {
	padding:20px;
}

#vci-manager-menu-body-secondary-vciusermanagement {
	padding:20px;
}

#vci-manager-menu-body-secondary-vciusermanagement-changes {
	padding:20px;
}

#f_createWhiteboard {
	padding:20px;
}

#vci-manager-menu-body-primary {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:100%;
}

#vci-manager-menu-body-secondary {
	display:none;
	margin:0px;
	padding:0px;
	width:0%;
	float:right;
}

#vci-layerManager {
	width: 400px;
	float: none;
	overflow: hidden;
	background: rgba(0,0,0,0.88);
}
#vci-layerManager-header {
	border: 1px solid rgba(0,0,0,0.2);
}

#vci-layerManager-header p {
	text-align: center;
	margin: 0px 0px 0px 0px;
	color: #aaa;
	font-size: 10px;
	font: fantasy;
}

#vci-layerManager-itemWrapper {
	border: 1px solid rgba(0,0,0,0.2);
	background: #fff;
}

#vci-layerManager-itemWrapper ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#vci-layerManager-itemWrapper ul li {
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	background: #fff;
	list-style-type: none;
	clear: both;
	white-space: normal;
	overflow: hidden;
}

#vci-layerManager-itemWrapper ul li p {
	width: 79%;
	padding: 0px 0px 0px 3px;
	background: #fff;
	color: #333;
	float: left;
}

#vci-layerManager-itemWrapper ul li input {
	width: 10%;
	border-radius: 0px;
	border-color: rgb(0.02,0.23,0.59);
	background-color: rgb(0.02,0.23,0.59);
	float: left;
}

#vci-layerManager-tools input {
	border-radius: 0px;
	border-color: rgb(0.02,0.23,0.59);
	background-color: rgb(0.02,0.23,0.59);
	color: rgb(0,0,0) !important;
	float: right;
}