extends ../../layout

block scripts
	script(type='text/javascript')
		function createNewWhiteboard() {
			var server_name = "#{server}";
			var vciNameEncoded = escape($('#tb_addVciName').attr("value"));
			var vciName = $('#tb_addVciName').attr("value");
			if (vciName && vciName != null && vciName != "") {
				$.ajax({
					type:"POST",
					url: server_name + 'vci/' + vciNameEncoded + '/create',
					success: function(data, textStatus, jqXHR) {
						var vciId = data;
						var vcimanagerlistview = $('#vci-manager-menu-body-primary-vcilistview');
						var descriptionLabel = "<h3> " + vciName + " </h3>";
						var linkToVci = "<a href='" + server_name + 'vci/' + vciId + "' ref='external' data-ajax='false'> " + descriptionLabel + " </a>";
						var prepareInitializeWhiteboardSettingsParameter = '"' + vciId + '","' + vciName + '"';
						var editbutton = "<a data-role='button' data-icon='false' onClick='initializeWhiteboardSettings(" + prepareInitializeWhiteboardSettingsParameter + ");' class='whiteboardPropertyButton'> </a>";
						var listItem = "<li id='" + vciId + "_li' data-icon='false'> " + linkToVci + editbutton + " </li>";
						vcimanagerlistview.append(listItem);
						vcimanagerlistview.listview('refresh');
						// hack for not showing the default symbol
						$('.whiteboardPropertyButton').empty();
						vciCollectionTemp.push({ id: vciId, name: vciName, users: [actualUser]});
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Problems with adding new vci");
					},
					timeout: 5000
				});
			}
		}
		function initializeWhiteboardSettings(vciid, vciname) {
			var displayStyle = $('#vci-manager-menu-body-secondary').css('display');
			if (displayStyle == "none") {
				$('#vci-manager-menu-body-secondary').css('display', "inline-block");
				$('#vci-manager-menu-body-secondary').css('width', "37%");
				$('#vci-manager-menu-body-primary').css('width', "60%");
				$('#vci-manager-menu-body-primary').css('display', "inline-block");
			}
			$('#vci-manager-menu-body-secondary-vciname-tb').val(vciname)
			var vciusermanagementListview = $('#vci-manager-menu-body-secondary-vciusermanagement-listview');
			vciusermanagementListview.empty();
			var actualVci;
			var vciCollection = vciCollectionTemp;
			for (vciKey in vciCollection) {
				if (vciCollection[vciKey].id == vciid) {
					actualVci = vciCollection[vciKey];
				}
			}
			if (actualVci && actualVci != null) {
				var users = actualVci.users;
				for (userKey in users) {
					var listItem = "<li> <a href='#'> " + users[userKey] + " </li>";
					vciusermanagementListview.append(listItem);
				}
				$('#vci-manager-menu-body-secondary-username-btn').unbind();
				$('#vci-manager-menu-body-secondary-username-btn').bind("click", function () {
					var userName = $('#vci-manager-menu-body-secondary-username-tb').val();
					if (userName && userName != null && userName != "") {
						for (userKey in users) {
							if (users[userKey] == userName) {
								return;
							}
						}
						$.ajax({
							type:"POST",
							url:"/vci/" + vciid + "/" + userName + "/addUser",
							success: function(data) {
								var listItem = "<li> <a href='#'> " + userName + " </li>";
								vciusermanagementListview.append(listItem);
								vciusermanagementListview.listview('refresh');
								actualVci.users.push(userName);
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert("Problems with adding user to vci");
							},
							timeout: 5000
						});
					}
				});
				$('#vci-manager-menu-body-secondary-vcidelete-btn').unbind();
				$('#vci-manager-menu-body-secondary-vcidelete-btn').bind("click", function () {
					if (vciid && vciid != null && vciid != "") {
						$.ajax({
							type:"POST",
							url:"/vci/" + vciid + "/delete",
							success: function(data) {
								$('#' + vciid + "_li").remove();
								$('#vci-manager-menu-body-secondary').css('display', "none");
								$('#vci-manager-menu-body-secondary').css('width', "0%");
								$('#vci-manager-menu-body-primary').css('width', "100%");
								$('#vci-manager-menu-body-primary').css('display', "inline-block");
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert("Problems with deleting vci!");
							},
							timeout: 5000
						});
					}
				});
			}
			vciusermanagementListview.listview('refresh');
		}

block content
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			a(class="ui-btn-left",id="vci-header-home-btn",href="/user/logout",ref="external",data-ajax="false") #{__("Logout")}
			h1 Visual Collaboration Interface
		div(data-role="content") 
			script(type='text/javascript')
				var vciCollectionTemp = [];
				var actualUser = undefined;
				try {
					vciCollectionTemp = !{JSON.stringify(vcis)};
					actualUser = !{JSON.stringify(name)}  ;
				} catch (ex) {
					alert("There is some problems according to the vci data." + ex)
				}

			div(id="vci-manager-menu-body-primary")
				h1(style="padding: 0px 0px 10px 0px") #{__("Whiteboard management")}
				div(data-role="fieldcontain")
					ul(data-role="listview",id="vci-manager-menu-body-primary-vcilistview")
						each vci in vcis
							mixin vciToListItem(vci.name,vci.id)
				div(data-role="fieldcontain",style="padding:20px;")
					label(for="basic",class="ui-input-text") #{__("VCI name")}
					input(type="text",value="#{__("Name Of whiteboard")}",id="tb_addVciName")
					input(type="button",value="#{__("Add")}",id="vci-manager-menu-body-primary-addvci-btn",onClick="createNewWhiteboard()")
			div(id="vci-manager-menu-body-secondary")
				h2(style="padding: 10px 0px 10px 0px") #{__("Whiteboard properties")}
				div(data-role="fieldcontain",id="vci-manager-menu-body-secondary-vciproperties")
					label(for="basic",class="ui-input-text") #{__("VCI name")}
					input(id="vci-manager-menu-body-secondary-vciname-tb",name="vciname",type="text",disabled="disabled")
					a(data-role="button",id="vci-manager-menu-body-secondary-vcidelete-btn") #{__("delete VCI")}
				div(data-role="fieldcontain",id="vci-manager-menu-body-secondary-vciusermanagement")
					ul(data-role="listview",id="vci-manager-menu-body-secondary-vciusermanagement-listview")
				div(data-role="fieldcontain",id="vci-manager-menu-body-secondary-vciusermanagement-changes")
					label(for="basic",class="ui-input-text") #{__("Username")}
					input(id="vci-manager-menu-body-secondary-username-tb",name="username",type="text")
					a(data-role="button",id="vci-manager-menu-body-secondary-username-btn") #{__("add user")}

mixin vciToListItem(vci_name,vci_id)
	li(id="#{vci_id}" + "_li",data-icon='false')
		a(href='#{server}vci/#{vci_id}/',ref="external",data-ajax="false") 
			h3 #{vci_name}
		a(data-role="button",data-icon='false',onClick="initializeWhiteboardSettings('#{vci_id}','#{vci_name}')",class='whiteboardPropertyButton') #{__("edit")}