div(data-role='fieldcontain',id='vci-content-chat')
	#vci-chat-container
		#vci-chat-text
		#vci-chat-input
			textarea(id='vci-chat-send-text',value='')
			a(data-role="button",id='vci-chat-send-btn') #{__("send")}