extends ../layout

block scripts
	script(src='/libs/kinetic-v4.0.5.js')
	script(src='/javascripts/vci.js')
	script(src='/libs/jquery-ui-1.9.1.custom.js')
	include connection

block content
	div(data-role="page")
		div(data-role="header",data-position="fixed")
			div(class="ui-btn-left",data-role="controlgroup",data-type="horizontal")
				a(data-role="button",id="vci-header-home-btn",href="/user/vcis",ref="external",data-ajax="false") #{__("Home")}
				a(data-role="button",id="vci-header-logout-btn",href="/user/logout",ref="external",data-ajax="false") #{__("Logout")}
			h1 Visual Collaboration Interface
			div(class="ui-btn-right",data-role="controlgroup",data-type="horizontal")
				a(data-role="button",id="vci-header-chat-btn") #{__("Chat")}
				a(data-role="button",id="vci-header-menu-btn") #{__("Menu")}
		div(id="vci-content",data-role="content")
			div(id="vci-content-stage")
				#stage
			div(id="vci-content-menu")
				div(data-role="navbar")
					ul
						li
							a(class="ui-btn-active ui-state-persist",href="#",id="vci-content-navbar-drawingtools-btn") #{__("Drawing tools")}
						li
							a(href="#",id="vci-content-navbar-layermanagement-btn") #{__("Layer management")}
						li
							a(href="#",id="vci-content-navbar-objectselection-btn") #{__("Object selection")}
				div(id="vci-content-drawingtools",data-role="fieldcontain")
					fieldset(data-role="controlgroup",id="vci-content-drawingtools-choise-list")
						input(id="vci-content-drawingtools-none-cb",name="drawingtool-choise",type="radio") 
						label(for="vci-content-drawingtools-none-cb") #{__("no selection")}

						input(id="vci-content-drawingtools-rectangle-cb",name="drawingtool-choise",type="radio") 
						label(for="vci-content-drawingtools-rectangle-cb") #{__("Rectangle")}

						input(id="vci-content-drawingtools-circle-cb",name="drawingtool-choise",type="radio")
						label(for="vci-content-drawingtools-circle-cb") #{__("Circle")}

						input(id="vci-content-drawingtools-line-cb",name="drawingtool-choise",type="radio") 
						label(for="vci-content-drawingtools-line-cb") #{__("Line")}

						input(id="vci-content-drawingtools-pen-cb",name="drawingtool-choise",type="radio") 
						label(for="vci-content-drawingtools-pen-cb") #{__("Pen")}

						input(id="vci-content-drawingtools-text-cb",name="drawingtool-choise",type="radio") 
						label(for="vci-content-drawingtools-text-cb") #{__("Text")}
					div(id="vci-content-drawingtools-properties")
						div(id="vci-content-drawingtools-properties-color",data-role="fieldcontain")
							div(id="vci-content-drawingtools-properties-color-colorpicker-container",data-role="fieldcontain")
								label(for="basic",class="ui-input-text",style="float:left;padding:125px 0px 0px 0px;") #{__("Color selection")}
								div(id="vci-content-drawingtools-properties-color-colorpicker")
							div(id="vci-content-drawingtools-properties-color-fillcolor-container",data-role="fieldcontain")
								label(for="basic",class="ui-input-text") #{__("fill color")}
								input(id="vci-content-drawingtools-properties-color-fillcolor-tb",type="text",data-theme="b")
							div(id="vci-content-drawingtools-properties-color-strokecolor-container",data-role="fieldcontain")
								label(for="basic",class="ui-input-text") #{__("outline color")}
								input(id="vci-content-drawingtools-properties-color-strokecolor-tb",type="text",data-theme="b")
							div(id="vci-content-drawingtools-properties-color-transparency-container",data-role="fieldcontain")
								label(for="transparency",class="ui-input-text") #{__("opacity")}
								input(type="range",name="transparency",id="vci-content-drawingtools-properties-color-transparency-sd",value="100",min="1",max="100")
						div(id="vci-content-drawingtools-properties-proportions",data-role="fieldcontain")
							label(for="strokewidth",class="ui-input-text") #{__("line width")}
							input(type="range",name="strokewidth",id="vci-content-drawingtools-properties-proportions-strokewidth-sd",value="7",min="1",max="150")
						div(id="vci-content-drawingtools-properties-text",data-role="fieldcontain")
							label(for="fontsize",class="ui-input-text") #{__("text size")}
							input(type="range",name="fontsize",id="vci-content-drawingtools-properties-proportions-fontsize-sd",value="7",min="1",max="150")
							label(for="textcontext",class="ui-input-text") #{__("Text")}
							textarea(name="textcontext",id="vci-content-drawingtools-properties-text-textcontext-tb")
				div(id="vci-content-layermanagement")
					ul(data-role="listview",data-inset="true",id="vci-content-layermanagement-listview")
					div(data-role="fieldcontain")
						label(for="basic",class="ui-input-text") #{__("name")}
						input(id="vci-content-layermanagement-layerName-tb",type="text",data-theme="b")
					label #{__("visible")}
						input(id="vci-content-layermanagement-layerVisibility-cb",type="checkbox",name="layerVisibility",checked="unchecked")
					a(href="#",data-role="button",id="vci-content-layermanagement-add-btn") #{__("add layer")}
					a(href="#",data-role="button",id="vci-content-layermanagement-delete-btn") #{__("delete layer")}

				div(id="vci-content-objectselection",data-role="fieldcontain")
			include chat

	script(type='text/javascript')
		function loadScript(url, callback){
			var script = document.createElement("script");
			script.type = "text/javascript";

			if (script.readyState){  //IE
				script.onreadystatechange = function(){
					if (script.readyState == "loaded" ||
							script.readyState == "complete"){
						script.onreadystatechange = null;
						callback();
					}
				};
			} else {  //Others
				script.onload = function(){
					callback();
				};
			}

			script.src = url;
			document.getElementsByTagName("head")[0].appendChild(script);
		};

		loadScript("/socket.io/socket.io.js", function(){
			loadScript("/javascripts/client.js", function(){
				//initialization code
			})
		});